
<style>
    

</style>


<footer>
    <div class="container-fluid">


        <div style="color:gray;">
            <div class="text-center">
                The test footer.
            </div>
        </div>


    </div>
</footer>